.home-page {
    &__hero {
        position: relative;
        min-height: 80vh;
        background-image: url('../assets/images/home-page-hero-bg.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        @include flex-center-vertical-horizontal;
    }
    &__hero-content {
    }
    &__search-container {}
    &__search-bar {
        padding-bottom: $spacing-m;
    }
    &__search-button {
        height: 3.6rem;
        align-self: center;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    &__search-help, &__search-help-link {
        margin-top: -#{$spacing-xs};
        font-size: $spacing-s;
    }
}