@import "breakpoints";

//Mixins to prevent code duplication
//Commonly used css blocks collected together
//Use like this:
//@include [name-of-mixin] e.g.:@include for-tablet-up {}

//Media queries for styling based on screen width 
//(for creating layouts use the grid classes)
//Can be used inside class block e.g.: .button { @include for-tablet-up }
@mixin for-small-tablet-up {
    @media only screen and (min-width: #{$breakpoint-sm}px) { @content; }
}

@mixin for-tablet-up {
    @media only screen and (min-width: #{$breakpoint-md}px) { @content; }
}

@mixin for-small-desktop-up {
    @media only screen and (min-width: #{$breakpoint-lg}px) { @content; }
}

@mixin for-desktop-up {
    @media only screen and (min-width: #{$breakpoint-xl}) { @content; }
}

//Helper mixins
@mixin flex-center-vertical-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pos-absolute-center-vertical-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}