//Colors

highlight-green {
    color: #BDD172
}
highlight-peach {
    color: #F7D0B5 
}
background-beige {
    color: #F4F1E7
}
background-white {
    color: #fcfcfc
}
background-black {
    color: #000000
}